.slider blockquote {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #8c7c7c;
  width: 80%;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
  margin: 20px auto;
  padding: 0;
}
.slider .bullets li {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  text-align: center;
  border: 3px solid #d9d9d9;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #FFF;
  border: 3px solid #d9d9d9;
}

.services .services-box {
  float: left;
  width: 33.33%;
}
.services .services-box h3 {
  font-weight: bold;
  font-size: 30px;
  color: #211f1f;
}
.services .services-box i {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: orange;
  margin-right: 3px;
}
.services .services-box p {
  color: #8c7c7c;
  line-height: 20px;
  font-style: italic;
}
.services .services-box a {
  background-color: black;
  color: #f1c40f;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
}

.our-works .player-box {
  float: left;
  width: 33.3333333333%;
}
.our-works .player-box h3 {
  font-weight: bold;
  font-size: 30px;
  color: #211f1f;
  margin-left: 18%;
}
.our-works .player-box p {
  color: #8c7c7c;
  line-height: 20px;
  font-style: italic;
  margin-left: 18%;
}
.our-works .player-box a {
  background-color: black;
  color: #f1c40f;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
  margin-left: 18%;
}
.our-works .player-box img {
  margin-left: 18%;
}

.footer {
  background-color: #EEE;
  height: 650px;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .gallery, .footer .info, .footer .contact {
  float: left;
}
.footer .gallery {
  width: 50%;
}
.footer .gallery .img-box {
  overflow: hidden;
  margin-bottom: 20px;
}
.footer .gallery .img-box img {
  float: left;
  margin-right: 10px;
}
.footer .gallery .img-box h4 {
  color: black;
}
.footer .gallery .img-box p {
  color: #8c7c7c;
  line-height: 1.9;
}
.footer .gallery .img-box h3 {
  margin-top: 10px;
  padding-bottom: 5px;
}
.footer .info {
  width: 25%;
}
.footer .info ul {
  line-height: 1.8;
  font-weight: bold;
  opacity: 0.5;
}
.footer .info ul li span {
  color: red;
}
.footer .info h3 {
  margin-left: 20px;
  margin-top: 30px;
}
.footer .info h4 {
  margin-top: 100px;
  margin-left: 20px;
}
.footer .info p {
  margin-left: 20px;
  font-weight: bold;
  opacity: 0.5;
}
.footer .contact {
  width: 25%;
}
.footer .contact input[type=text], .footer .contact [type=email], .footer .contact textarea {
  border: 1px solid #e0dcdc;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 5px;
}
.footer .contact textarea {
  height: 80px;
}
.footer .contact h3 {
  margin-top: 30px;
}

.copyright {
  border-top: 1px solid #CCC;
  padding: 10px 0;
}
.copyright .text {
  float: left;
  width: 50%;
  margin-top: 20px;
  font-weight: bold;
  opacity: 0.5;
}
.copyright .author {
  float: left;
  width: 50%;
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  opacity: 0.5;
}

/*# sourceMappingURL=.homepage.css.map */
